.landing-container{
display:flex;
min-height: 90vh;
justify-content: space-between;
align-items: center;
color:#eee2ee;
padding:0 32px;
font-family: "bangers";
margin:0px;
flex-wrap:wrap;
}

.landing-header{
    font-size: 92px;
    letter-spacing: 4px;
    margin:0;
}
.typerwriter-container{
    letter-spacing: 4px;
    font-size: 64spx;
}

.flash-image{
    width: 40vw;
}


@media (max-width: 800px){
    .landing-container{
        flex-direction: column;
        align-items: center;
    }

    .flash-image{
        width: 80vw;
    }

    .landing-header{
        margin-top: 32px;
        text-align: center;
    }

    .typerwriter-container{
        text-align: center;
    }
}